<aside class="flex-1 md:flex hidden border-b  py-4 lg:block lg:w-64 lg:flex-none lg:border-0 lg:py-20">
    <div class="w-80">
        <!-- Invoice summary -->
        <div class="lg:col-start-3 lg:row-end-1">
            <div class="rounded-lg bg-white shadow-sm">
                <dl class="flex flex-wrap">
                    <div class="flex pt-4 items-center justify-between w-full">
                        <div class="flex-auto pl-6">
                            <dd class=" text-xl font-semibold leading-6 text-gray-900">
                                Listings
                            </dd>
                        </div>
                        <div class="flex-none self-end px-6">
                            <dd class="rounded-md  px-2   text-blue-500">
                                See all
                            </dd>
                        </div>
                    </div>
                    <div class="mt-6 flex w-full flex-none gap-x-4 border-t border-gray-900/5 px-6 pt-3">
                        <div>
                            <h2 class="text-gray-600">Full Stack Laravel developer needed</h2>
                            <h2 class="text-gray-500 mt-1 text-sm">collabs</h2>
                        </div>
                    </div>
                    <div class="mt-6 flex w-full flex-none gap-x-4 border-t border-gray-900/5 px-6 pt-3">
                        <div>
                            <h2 class="text-gray-600">Apply for ezpie as blog writter</h2>
                            <h2 class="text-gray-500 mt-1 text-sm">forehire</h2>
                        </div>
                    </div>
                    <div class="mt-6 flex w-full flex-none gap-x-4 border-t border-gray-900/5 px-6 pt-3">
                        <div>
                            <h2 class="text-gray-600">Build your landing pages in minutes with Tails 🚀</h2>
                            <h2 class="text-gray-500 mt-1 text-sm">collabs</h2>
                        </div>
                    </div>
                    <div class="mt-6 flex w-full flex-none gap-x-4 border-t border-gray-900/5 px-6 pt-3">
                        <div>
                            <h2 class="text-gray-600">HTML Boilerplate: A Comprehensive Guide</h2>
                            <h2 class="text-gray-500 mt-1 text-sm">education</h2>
                        </div>
                    </div>
                    <div class="mt-6 flex w-full flex-none gap-x-4 border-t border-gray-900/5 px-6 pt-3">
                        <div>
                            <h2 class="text-gray-600">🚀 Build your first app with React & Next.js! Start the online course for free today!</h2>
                            <h2 class="text-gray-500 mt-1 text-sm">education</h2>
                        </div>
                    </div>
                </dl>
                <div class="mt-3 border-t flex justify-center border-gray-900/5 px-6 py-3">
                    <a href="#" class="text-sm text-center">Create a Listing</a>
                </div>
            </div>
        </div>
    </div>
</aside>
